body {
  color: #2d334a;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

h1 {
  color: #0c9463;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #0c9463;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #fab696;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: 5px dotted #fbe3b9;
  border-bottom: none;
  height: 5px;
  margin: 100px auto;
  width: 3%;
}

/* TOP CONTAINER */
.top-container {
  background-color: #fbe3b9;
  line-height: 1.5;
  padding-top: 60px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.top-container p {
  font-weight: normal;
}

/* MIDDLE CONTAINER */
.middle-container {
  margin: 60px 0;
}

.profile img {
  border-radius: 100%;
  max-width: 15%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  margin: 70px auto;
}

.skill-row {
  width: 50%;
  margin: 70px auto;
  text-align: left;
}

.developer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.lawyer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

/* BUTTON */
.btn {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #fbe3b9 5%, #ffab23 100%);
  background-color: #fbe3b9;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #2d334a;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.btn:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
  color: #2d334a;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* BOTTOM-CONTAINER */
.bottom-container {
  background-color: #0c9463;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 0 20px;
}

.footer-link {
  color: #fab696;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #2d334a;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #fbe3b9;
  font-size: 0.75rem;
}

div.copyright {
  margin-top: 40px;
}

.credit {
  color: #fab696;
  text-decoration: none;
  text-shadow: 1px 1px 2px #2d334a;
}
